.coin-detail{
    padding-left: 10px;
    padding-top: 50px;
  }
  .time{
      font-weight: bold;
  }
  
  .coin-image img{
      margin-top: 40px;
  }
  
  .coin-name{
      font-weight: bold;
      font-size: 27px;
      margin-top: 50px;
  }
  .coin-price{
      font-weight: bold;
      font-size: 22px;
      margin-top: 10px;
  }
  .coin-profit{
      margin-top: 10px;
      margin-left: 3px;
      display: flex;
  }
  
  .market-rank{
      font-weight: bold;
      font-size: 27px;
      margin-top: 20px;
      margin-left: 5px;
      display: flex;
  }
  
  .coin-desc p{
      margin-top: 15px;
     
  }
  
  .coin-desc {
      width: 20rem;
  }
  .btn button{
      height: 2rem;
      background-color: #01D8FF;
      border: none;
      width: 6rem;
      border-radius: 10px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-left: 10px;
      
  }

  .coin-detail{
    display: flex;
    justify-content: space-evenly;
  }
  @media only screen and (max-width: 600px) {

    .coin-detail{
       display: flex;
       flex-direction: column;
       padding-left: 30px;
    }
 }
